
# managed by windsor cli
.windsor/
.volumes/
backend_override.tf
.terraform/
.tfstate/
.kube/
.talos/
.omni/
.aws/
.azure/
terraform/**/backend_override.tf
contexts/**/.terraform/
contexts/**/.tfstate/
contexts/**/.kube/
contexts/**/.talos/
contexts/**/.omni/
contexts/**/.aws/
contexts/**/.azure/
secrets.yaml

