
# managed by windsor cli
.windsor/
.volumes/
backend_override.tf
.terraform/
.tfstate/
.kube/
.talos/
.omni/
.aws/
.azure/
terraform/**/backend_override.tf
contexts
secrets.yaml
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
